<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0852D027-B564-489E-945B-5E30FAD4CB8F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>runbooks</string>
			<key>text</key>
			<string>Open runbooks</string>
			<key>url</key>
			<string>https://github.com/cbsi-cbscom/cbssre-runbooks</string>
		</dict>
		<key>0D907BA5-9F4C-42B4-B161-FD37712D9F5A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>1on1bryan</string>
			<key>text</key>
			<string>1on1 Bryan</string>
			<key>url</key>
			<string>https://docs.google.com/document/d/1mBEhpfcGJ-dfHuNunptDgfFMrZQJXoG55NDHZZbW7kI/edit</string>
		</dict>
		<key>1059B8CC-5D39-40A1-A20C-9BCB645FD656</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gists</string>
			<key>text</key>
			<string>My github gists</string>
			<key>url</key>
			<string>https://gist.github.com/lewars</string>
		</dict>
		<key>19D7DDA9-2A77-4913-A226-37127CD8AE1A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oncall</string>
			<key>text</key>
			<string>Who's oncall</string>
			<key>url</key>
			<string>https://cbsi.pagerduty.com/schedules-new/PF2JACD</string>
		</dict>
		<key>1FB71080-FE1E-4393-BBF2-1EF97B4A0E8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>groovydoc</string>
			<key>text</key>
			<string>Groovy Documentation</string>
			<key>url</key>
			<string>https://groovy-lang.org/documentation.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2720960C-DAFD-4601-8551-F11C88B5DA19</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghtfs</string>
			<key>text</key>
			<string>PPlus Terraform Search</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3Acbsi-cloudarch%20{query}&amp;type=code</string>
		</dict>
		<key>3D3ACCDE-EF4F-42E9-ADAA-7C84BF04575F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghsr</string>
			<key>text</key>
			<string>PPlus GitHub Search (repositories)</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3Acbsi-cbscom%20{query}&amp;type=repositories</string>
		</dict>
		<key>4D0BADE2-B828-4AFF-9FAE-0D06614D6BB8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>add</string>
			<key>text</key>
			<string>argocd dynamic-deployments-root</string>
			<key>url</key>
			<string>https://cd.tools.paramountplus.com/applications/dynamic-deployments-root?orphaned=false&amp;resource=</string>
		</dict>
		<key>52C91DC4-0CAC-4620-93B7-8E4D838A1CAA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pplusdocs</string>
			<key>text</key>
			<string>PPlus Docs</string>
			<key>url</key>
			<string>https://developer.tools.paramountplus.com/</string>
		</dict>
		<key>5A7015EF-A296-466D-A913-A07C5152B4AF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ajtools</string>
			<key>text</key>
			<string>argo jenkins.tools</string>
			<key>url</key>
			<string>https://cd.tools.paramountplus.com/applications/prod-jenkins?orphaned=false&amp;resource=</string>
		</dict>
		<key>5D444DF2-69CE-4BA7-BCCF-B30FE662C7A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>consoledev</string>
			<key>text</key>
			<string>GCP Console PPlus (dev)</string>
			<key>url</key>
			<string>https://console.cloud.google.com/home/dashboard?project=i-cbscom-dev</string>
		</dict>
		<key>741268D3-40B7-4D4A-86CA-840634F4739E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kbs</string>
			<key>text</key>
			<string>Knowledge Base Search</string>
			<key>url</key>
			<string>https://github.com/lewars/kb/search?q={query}&amp;ref=opensearch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>799AFAA8-6393-4D38-B550-857FAA92EA79</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stepref</string>
			<key>text</key>
			<string>pipeline steps</string>
			<key>url</key>
			<string>https://www.jenkins.io/doc/pipeline/steps/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>871D7E03-948D-4C18-837B-D1078EC3C6BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jmsteps</string>
			<key>text</key>
			<string>Migrate a Jenkins-UI pipeline to Jenkins Tools
Migrate a Jenkins-UI pipeline to Jenkins Tools
Migrate a Jenkins-UI pipeline to Jenkins Tools</string>
			<key>url</key>
			<string>https://github.com/cbsi-cbscom/cbssre-jenkins-migration-tools/blob/main/docs/jenkins-pipeline-migration-steps.md</string>
		</dict>
		<key>878A0F38-2589-48BA-BA04-5E59845F3090</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nrjtools</string>
			<key>text</key>
			<string>New Relic: jenkins.tools</string>
			<key>url</key>
			<string>https://one.newrelic.com/nr1-core/open-instrumentation-explorer/summary/MjkzNjM0OHxFWFR8U0VSVklDRXwtNzQ3OTc5OTY4ODQ3ODQ2NzkwNw</string>
		</dict>
		<key>8868B06E-0E82-438F-A12E-F4F6FDEF197F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jargon</string>
			<key>text</key>
			<string>P+ Acronyms and Jargon</string>
			<key>url</key>
			<string>https://confluence.mtvi.com/display/PPLUSPMO/Acronyms+and+Jargon</string>
		</dict>
		<key>8B25C37D-8DA4-4A80-B101-8BE621A44A9A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>consoleprd</string>
			<key>text</key>
			<string>GCP Console PPlus (prod)</string>
			<key>url</key>
			<string>https://console.cloud.google.com/home/dashboard?project=i-cbscom-prod</string>
		</dict>
		<key>8E8B9C17-C88D-4C51-8165-EEFAE2E778E1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kb</string>
			<key>text</key>
			<string>Knowledge Base</string>
			<key>url</key>
			<string>https://github.com/lewars/kb</string>
		</dict>
		<key>91DAB605-2DA1-4D06-A002-7BC77A220890</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jiras</string>
			<key>text</key>
			<string>JIRA - paramount search</string>
			<key>url</key>
			<string>https://paramount.atlassian.net/secure/QuickSearch.jspa?searchString={query}</string>
		</dict>
		<key>91FCFD6D-1F82-4CE6-A7F0-190ED28D1D6C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kanban</string>
			<key>text</key>
			<string>JIRA - Kanban</string>
			<key>url</key>
			<string>https://paramount.atlassian.net/jira/software/c/projects/PLDSO/boards/3837?view=detail&amp;selectedIssue=PLDSO-117&amp;assignee=6234a65362dc1e006803ed91</string>
		</dict>
		<key>9A8096E3-1A5E-4EB7-A78F-F96D7D34D8D0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghst</string>
			<key>text</key>
			<string>PPlus GitHub Team Search</string>
			<key>url</key>
			<string>https://github.com/orgs/cbsi-cbscom/teams?query={query}</string>
		</dict>
		<key>AFE18F62-FB80-448D-A87A-45BE138138DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>githubkeys</string>
			<key>text</key>
			<string>github keyboard shortcuts</string>
			<key>url</key>
			<string>https://docs.github.com/en/get-started/using-github/keyboard-shortcuts</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BDB7D73D-F460-48A6-9F5B-9EC5B1181618</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghcc</string>
			<key>text</key>
			<string>cbsi-cbscom</string>
			<key>url</key>
			<string>https://github.com/cbsi-cbscom</string>
		</dict>
		<key>C424726F-0E28-47EA-8A1E-9B69D0D22041</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jtoolss</string>
			<key>text</key>
			<string>PPlus Jenkins.tools Search</string>
			<key>url</key>
			<string>https://jenkins.tools.paramountplus.com/search/?q={query}</string>
		</dict>
		<key>C4326B7E-C979-4D2F-9072-CBE055A8C3A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghsp</string>
			<key>text</key>
			<string>PPlus GitHub People Search</string>
			<key>url</key>
			<string>https://github.com/orgs/cbsi-cbscom/people?query={query}</string>
		</dict>
		<key>C64049B0-920C-4C35-AD90-05B76DE9BE78</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hypedoc</string>
			<key>text</key>
			<string>hypedoc</string>
			<key>url</key>
			<string>https://docs.google.com/document/d/1O2Y9AnUtx9rBnlS7HmpnIemtROyvmO_H_5RSaw00RiU/edit</string>
		</dict>
		<key>C804D1F5-84F9-477B-965E-886BE62F103C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pipeline</string>
			<key>text</key>
			<string>Jenkins Pipeline Syntax</string>
			<key>url</key>
			<string>https://www.jenkins.io/doc/book/pipeline/syntax/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CB4BD86F-9363-44FE-9657-AA6BBFC2E474</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghsc</string>
			<key>text</key>
			<string>PPlus GitHub Search (code)</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3Acbsi-cbscom%20{query}&amp;type=code</string>
		</dict>
		<key>D353CF25-C8C2-4AEF-B621-065CE625C2DD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gcps</string>
			<key>text</key>
			<string>Search gcp {query}</string>
			<key>url</key>
			<string>https://cloud.google.com/s/results?q={query}</string>
		</dict>
		<key>D91B9396-2AAC-47E5-BA10-CED58EA9C321</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jiraopen</string>
			<key>text</key>
			<string>JIRA - Open Tickets</string>
			<key>url</key>
			<string>https://paramount.atlassian.net/issues/?filter=-1</string>
		</dict>
		<key>DA2A48B9-03D4-4454-9682-11EA858A0CF4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jpluginss</string>
			<key>text</key>
			<string>Search Jenkins Plugins</string>
			<key>url</key>
			<string>https://plugins.jenkins.io/ui/search?query={query}</string>
		</dict>
		<key>DAEBBF64-5717-4D42-A18B-02D42337E4CD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ajtools-stg</string>
			<key>text</key>
			<string>argo jenkins.tools (stg)</string>
			<key>url</key>
			<string>https://cd.tools.paramountplus.com/applications/stage-jenkins?resource=</string>
		</dict>
		<key>DE4C37BE-0BFD-470E-AF59-2FF4E7E14CE4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>juis</string>
			<key>text</key>
			<string>jenkins-ui search</string>
			<key>url</key>
			<string>https://jenkins-ui.cbs.com/search/?q={query}</string>
		</dict>
		<key>E5E456D5-BD54-4240-9755-72DE23BBCE26</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sprint</string>
			<key>text</key>
			<string>JIRA - Sprint</string>
			<key>url</key>
			<string>https://paramount.atlassian.net/jira/software/c/projects/PLDSO/boards/3836?assignee=6234a65362dc1e006803ed91</string>
		</dict>
		<key>E6594EAD-A230-4A0C-9E74-3DEDF5AE8F30</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pplusdir</string>
			<key>text</key>
			<string>PPlus Directory</string>
			<key>url</key>
			<string>https://hcm41.sapsf.com/sf/directory?bplte_company=viacomcbsi&amp;_s.crb=WQIhDh2ZE7zGjTZu0PdqhyWIES3Ekvx8X90LKfm%2bqWY%3d</string>
		</dict>
		<key>E93AE266-F2A6-4536-860F-149B380A5AAD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jtools</string>
			<key>text</key>
			<string>PPlus Jenkins.tools</string>
			<key>url</key>
			<string>https://jenkins.tools.paramountplus.com</string>
		</dict>
		<key>EEDE757C-BC34-4E18-8230-6AAE6868B350</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pplusorg</string>
			<key>text</key>
			<string>PPlus Org</string>
			<key>url</key>
			<string>https://hcm41.sapsf.com/sf/orgchart?_s.crb=WQIhDh2ZE7zGjTZu0PdqhyWIES3Ekvx8X90LKfm%2bqWY%3d</string>
		</dict>
		<key>F3F9EA12-269F-4AB1-8782-A3E0A3091660</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>orgmoderef</string>
			<key>text</key>
			<string>Org Mode Reference Card</string>
			<key>url</key>
			<string>https://www.gnu.org/software/emacs/refcards/pdf/orgcard.pdf</string>
		</dict>
		<key>F4D3EE88-C67B-416A-BCC0-FDF01992AF51</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jtools-stg</string>
			<key>text</key>
			<string>PPlus Jenkins.tools (stg)</string>
			<key>url</key>
			<string>https://jenkins-stg.tools.paramountplus.com</string>
		</dict>
	</dict>
</dict>
</plist>
