# .bash_profile
#
# {{ full_name }}

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

export GOBIN=$(go env GOPATH)/bin
export PATH=$HOME/bin:$HOME/.local/bin:$GOBIN:/usr/local/google-cloud-sdk/bin:$PATH
export PAGER=less
export LESS=-iXMr
export EDITOR=emacs
export VISUAL=$EDITOR
export LSCOLORS=exgxcxfxbxegedabagacad
export CLICOLOR=1
export CLOUDSDK_PYTHON=/usr/local/bin/python3.7

# create tmp dir if not present
export TMPDIR=$HOME/tmp
[ ! -d $TMPDIR ] && mkdir -p $TMPDIR

# The next line enables shell command completion for gcloud.
if [ -f '${HOME}/bin/google-cloud-sdk/completion.bash.inc' ]; then . '${HOME}/bin/google-cloud-sdk/completion.bash.inc'; fi

test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"
