<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.drivesearch.fallback</string>
		<string>features.websearch.gmailsearch.fallback</string>
		<string>features.websearch.custom.3D3ACCDE-EF4F-42E9-ADAA-7C84BF04575F.fallback</string>
		<string>features.websearch.custom.CB4BD86F-9363-44FE-9657-AA6BBFC2E474.fallback</string>
	</array>
	<key>showDocuments</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showImages</key>
	<true/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
